
        <nav>
            <ul>
                <li class="menu"><a>Menu</a>
                    <ul class="submenu">
                        <li><a href="index.php?mod=logout" title="Se deconnecter" alt="Se deconnecter">Se deconnecter</a></li>
                        <li><a href="index.php?mod=modify" title="Modifier son mdp" alt="Modifier son mdp">Modifier son mdp</a></li>
                        <li><a href="index.php?mod=unregister" title="Supprimer son compte" alt="Modifier son compte">supprimer son compte</a></li>
                    </ul>
                </li>
                <li class="menu"><a>Produits</a>
                    <ul class="submenu">
                        <li><a href="index.php?mod=merchandise" title="Produits" alt="Produits">Produits</a></li>
                        {{menu_merch}}
                    </ul>
                </li>
                <li class="menu"><a>Admin</a>
                    <ul class="submenu">
                        <li><a href="index.php?mod=admin_create_group" title="Admin" alt="Admin">Creer un nouveau group</a></li>
                        <li><a href="index.php?mod=admin_create_merch" title="Admin" alt="Admin">Creer une nouvelle marchandise</a></li>
                        <li><a href="index.php?mod=admin_list_user" title="Admin" alt="Admin">Liste des utilisateurs</a></li>
                        <li><a href="index.php?mod=admin_list_merch" title="Admin" alt="Admin">Liste des marchandises</a></li>
                    </ul>
                </li>
                <li class="menu right"><a>Panier</a>
                    <ul class="submenu right">
                        <li><a href="index.php?mod=invoice" title="Consulter" alt="Consulter">Consulter</a></li>
                        <li><a href="index.php?mod=invoices" title="Payer" alt="Payer">Archive</a></li>
                        <li><a href="index.php?mod=reset" title="Reset" alt="Payer">Reset</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
