
        <nav>
            <ul>
                <li class="menu"><a>Menu</a>
                    <ul class="submenu">
                        <li><a href="index.php" title="Accueil" alt="Acceuil">Acceuil</a></li>
                        <li><a href="index.php?mod=connection" title="Connection" alt="Connection">Se connecter</a></li>
                        <li><a href="index.php?mod=register" title="Inscription" alt="Inscription">S'inscrire</a></li>
                    </ul>
                </li>
                <li class="menu"><a>Produits</a>
                    <ul class="submenu">
                        <li><a href="index.php" title="Produits" alt="Produits">Produits</a></li>
                    </ul>
                </li>
                <li class="menu right"><a>Panier</a>
                    <ul class="submenu right">
                        <li><a href="index.php" title="Consulter" alt="Consulter">Consulter</a></li>
                        <li><a href="index.php" title="Payer" alt="Payer">Payer</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
