<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="menu.css">
    </head>
    <body>
        <nav>
            <ul>
                <li class="menu"><a>Menu</a>
                    <ul class="submenu">
                        <li><a href="index.php" title="Accueil" alt="Acceuil">Acceuil</a></li>
                        <li><a href="index.php?mod=connection" title="Connection" alt="Connection">Se connecter</a></li>
                        <li><a href="index.php?mod=register" title="Inscription" alt="Inscription">S'inscrire</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </body>
</html>
