body {
	background-color: darkgrey;
}

.nav_header {
    width : 80%;
	height: 10%;
    display: block;
	text-align: center;
    overflow: auto;
    margin: auto;
	background-color: grey;
}

.left-side {
	text-align: left;
}

.shadow_box {
    border: 1px solid;
    padding: 10px;
    box-shadow: 18px 18px 18px #000000;
}

.rounded {
    border-radius: 25px;
}

.menu_left {
    width : 128px;
    text-align: center;
    margin-left : 10%;
    height : 50%;
    float: left;

}

.menu_right {
    width : 128px;
    text-align: center;
    margin-right : 10%;
    float: right;

}

.main_page {
    width : 50%;
    margin: auto;
    float: none;
    position: relative;
}

.topright {
    top: 8px;
    right: 16px;
    font-size: 18px;
    position : relative;

}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.main_page > img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.menu_left > img {
    width : 64px;
    height : 64px;
    margin-top: 12px;
}

.wrapper {
    clear: both;
    margin-top: 100px;
    width : 100%;
    height: 70%;
    display: inline-block;
}

.clearfix {
    overflow: auto;
}