Votre vaisseau possede     {{PP_Total}} PP Total<br />
<form method="post" action="index.php?mod=ordre2" >
Motor : <input type="number" min="0" max="{{PP_Total}}" name="motor"/><br />
Shield : <input type="number" min="0" max="{{PP_Total}}" name="shield"/><br />
Shoot : <input type="number" min="0" max="{{PP_Total}}" name="shoot"/><br />
Repair : <input type="number" min="0" max="{{PP_Total}}" name="repair" {{moved}}/><br />
<input type="submit" value="Definir les options" name="submit"/>
<input type="submit" value="Passez son tour" name="skip"/>
</form>
